.app {
    color: red; /* Puoi cambiare il colore in base alle tue esigenze */
  }
  
  .secondo {
    color: blue; /* Puoi cambiare il colore in base alle tue esigenze */
  }
  
  .terzo {
    color: green; /* Puoi cambiare il colore in base alle tue esigenze */
  }
  
