<H1>Risposte domande:</H1>
<pre>
<p>1) Il comando per installare angular cli è "npm i -g @angular/cli@16</p>
<p>2) La pagina di index.html contiene la schermata che si visualizza prima che l'app carichi tutti i dati</p>
<p>3) Il tag "app-root" è un componente definito già presentre nella nostra applicazione</p>
<p>4) Un progetto angular si avvia con il comando "ng serve --disable-host-check" </p></pre>

<h1>
    Welcome to {{ title }}!
    <app-hello-world></app-hello-world>
</h1>

<H1>Risposte domande:</H1>
<pre>
<p>1) Un componente si crea con il comando "ng generate component hello-world"</p>
<p>2) Il codice import serve per importare i pacchetti</p>
<p>3) Il decoratore @component è il metodo che effettevimente rende il componente un componente
    a) il tag selector serve per dare un tag al componente e cosi si può utilizzare anche in altri file
    b) il templateURL serve per decidere che file far visualizzare nel componente
    c) il stylesUrls serve per il template della pagina cioè la parte grafica
</p>
<p>4) Si può aggiungere un componente ad un altro usando il tag nella file html </p>
<p>6) Il simbolo delle doppie parentesi graffe serve per richiamare un valore di un'altro componente</p>
<p>7) Un'applicazione angular è composta da moduli, template e componenti </p>
<p>8) Nell'immagine si vede un componente e ogni parte che gli appartiene dalla parte del template cioè la parte grafica fino alla parte che si occupa della grafica e queste sono divise in due diversi rettangoli però sempre all'interno del componente poi ci sono i rettangoli dei tag dove richiamano funzioni esterne a quel componente</p>
<p>9) selector: 'app-hello-world',
      templateUrl: './hello-world.component.html',
      styleUrls: ['./hello-world.component.css']
</p>
</pre>