<h1>
  Welcome to {{ title }}!
  <app-user-item></app-user-item>   //Questo è il nostro nuovo user item
</h1>
<p>1) Si dichiara una nuova propietà scivendo nel costruttore il nome della propietà e dopo due punti il tipo come in questo esepio "name: string;"</p>
<p>2) Si dichiara mettendo il "constructor()" più due parentesi graffe nel ts</p>
<p>3) Un costruttore è un concetto fondamentale nella programmazione orientata agli oggetti (OOP). È un metodo speciale definito all'interno di una classe, il cui compito principale è inizializzare gli oggetti di quella classe. Il costruttore viene chiamato automaticamente quando viene creato un nuovo oggetto (istanza) della classe.</p>
<p>4) Un'istanza viene creata appena il componente viene richiamato</p>
<p>5) Si dichiara mettenso il tag tra il minore e il maggiore</p>